<section class="container-fluid p-0">
    <div class="home d-flex flex-column justify-content-between">
        <div class="text-center">
            
             <%= image_tag('office.png', class: 'icon') %>
            <h5>Welcome To The Budget App</h5>
        </div>
        <div mt-0>
            <div class="text-center border border-white">
                <%= link_to "Log in", new_user_session_path, class: "text-decoration-none p-2 text-black btns" %>
            </div>
            <div class="text-center border border-white">
                <%= link_to "Sign up", new_user_registration_path, class: "text-decoration-none p-2 text-black btns" %>
            </div>
        </div>
    </div>
</section>
