<div id="<%= dom_id transaction %>">
<div class="col-12 px-5 py-4 d-flex justify-content-between text-center">
    <p class="m-0" ><%= transaction.name %></p>
    <p class="m-0">$<%= transaction.amount %></p>
  </div>
</div>
