<div id="<%= dom_id transaction %>" class="container my-3 py-2 border">
  <div class="col-12 py-2 d-flex justify-content-between">
    <p class="m-0"><%= transaction.name %></p>
    <b class="m-0">$<%= transaction.amount %></b>
  </div>
</div>